.header{
    background: url('../img/cleaner_header.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    padding-bottom: 100px;
    &__content{
        padding-top: 165px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title{
        max-width: 333px;
        font-weight: bold;
        font-size: 20px;
        color: #B5CA00;
    }

    &__text{
        max-width: 342px;
        font-weight: normal;
        font-size: 40px;
        line-height: 47px;
        color: #000000;
    }

    &__button{
        margin-top: 25px;
        width: 295px;
        height: 60px;
        background: #B5CA00;
        border-radius: 4px;
        border: none;
        font-size: 18px;
        font-weight: 700;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover{
            background: #a8bb01;
            transition: all ease 1s;
            color: #fff;
        }
        &:active{
            background: #677202;
            transition: all ease 0.5s;
        }
    }

}