@import 'bootstrap-reboot.scss';

*{
    font-family: Roboto;
    font-style: normal;
}

.container{
    max-width: 1050px;
    margin: 0 auto;
}

@import 'header.scss';
@import 'offers.scss';
@import 'team.scss';
@import 'anketa.scss';
@import 'questions.scss';
@import 'modal.scss';
@import 'media.scss';